<div class="jumbotron">
  <h1>Quotes</h1>
</div>

<div class="container">
  <br>
  <hr>



    <div class="row">
      <div class="col">

        <div class="myQuote" *ngFor="let quote of quotes; let i = index">
          <hr>
          <br>
            <div class="card">

          <div class="card-header">
            <p appHighlight *ngIf="highestUpvote() === quote.upvotes && quote.upvotes > 0">
              {{ quote.quote }}
            </p>
          </div>
          <div class="card-body">
            <p *ngIf="
                    highestUpvote() !== quote.upvotes || quote.upvotes === 0
                  ">
              {{ quote.quote }}
            </p>
          </div>



          <div class="card-footer">
            <app-quotes-detail [quote]="quote"></app-quotes-detail>


            <button class="btn btn-info" (click)="upvote(i)">
              <i class="fa fa-thumbs-up"></i>
            </button>
            <button class="btn btn-info" (click)="downvote(i)">
              <i class="fa fa-thumbs-down"></i>
            </button>
            <button class="btn btn-danger" (click)="delQuote(i)">
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <br>
        </div>
      </div>
      </div>
      <br />

      <div class="col">
        <div class="card wow fadeInRight" data-wow-delay="0.3s">
          <app-quote-form (emitQuote)="addQuote($event)"></app-quote-form>
        </div>
      </div>
    </div>
  </div>

