<div class="container">
<div class="row">

<form (ngSubmit)="submitQuote()" class="card-body ">
    <div class="text-center">
      <h3 Add Quote>
      </h3>

    </div>

    <div class="form">

         <input type="text" id="form3" class="form-control " name="submitter" [(ngModel)]="quoteEditor" placeholder="submitter" mdbInput>
      <label for="form3"></label>

    </div>
    <div class="form">

         <input type="text" id="form2" class="form-control" name="quote" [(ngModel)]="quoteWords" placeholder="quote" mdbInput>
        <label for="form2"></label>
      </div>

      <div class="form">

         <input type="text" id="form4" class="form-control" name="author" [(ngModel)]="quoteAuthor" placeholder="author" mdbInput>
        <label for="form4"></label>

      </div>

        <div class="button">
          <button type="submit" mdbBtn color="blue" class="waves-light btn btn-info" mdbWavesEffect>Add Quote</button>



        </div>


    </form>
    </div>
  </div>
